.Avatar {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(110, 110, 110);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Avatar > svg {
  width: 20px;
}
