.AppOpeningIntro {
  --intro-duration: 6s;

  width: 100dvw;
  height: 100dvh;
  /* background-image: url("/assets/tahterevallis/images/bg-intro.webp"); */
  background-size: cover;
  /* animation: bg 20s infinite alternate; */
  position: relative;
  background-color: #333;
}

.AppOpeningIntroLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logo var(--intro-duration) forwards;
  opacity: 0;
}

@keyframes logo {
  0% {
    filter: brightness(0);
  }
  50% {
    filter: hue-rotate(-330deg);
  }
  100% {
    filter: hue-rotate(30deg);
    opacity: 1;
  }
}

@keyframes bg {
  0% {
    background-position: 0 0;
    background-size: 120%;
    background-repeat: 2;
  }
  50% {
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: 200;
  }
  100% {
    background-position: 0 0;
    background-size: 80%;
    filter: hue-rotate(330deg);
  }
}
