.SelectGameIntro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.MovingBallContainer {
  --moving-ball-container-h: 200px;
  position: absolute;
  max-width: 1000px;
  width: 100%;
  height: var(--moving-ball-container-h);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hello 1.2s ease-out forwards;
  mix-blend-mode: color-dodge;
  filter: drop-shadow(2px 4px 10px #000000);
}

.MovingBall {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 1;
  width: calc(var(--moving-ball-container-h));
  animation:
    rotate-ball 1.2s ease-out forwards,
    rotate-ball 30s 1.2s infinite,
    linear infinite,
    move 3s ease-in-out infinite alternate-reverse;
}

.MovingBallTrail {
  position: absolute;
  top: 0%;

  right: 15.5%;
  height: 100%;
  max-width: none;
  width: 120%;
  transform-origin: right center;
  animation:
    trail-init 1s ease-in-out forwards,
    trail 0.1s 1s ease-in-out infinite alternate,
    move 3s ease-in-out infinite alternate-reverse;
  filter: drop-shadow(2px 4px 10px #ff6b6b);
}

.Exit {
  animation: exit 0.4s 0.5s ease-in forwards;
}

@keyframes hello {
  0% {
    transform: translate(-100%, -50%) scale(0.4);
    filter: blur(2);
    opacity: 0;
  }
  80% {
    transform: translate(-30%, -50%) scale(0.8);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes rotate-ball {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    top: -8px;
  }

  100% {
    top: 8px;
  }
}

@keyframes trail-init {
  0% {
    transform: scaleX(2.95);
    filter: brightness(5);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    filter: brightness(1);
    opacity: 1;
  }
}

@keyframes trail {
  0% {
    transform: scaleX(0.95);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(600px);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .MovingBallContainer {
    --moving-ball-container-h: 240px;
  }
  .MovingBallTrail {
    right: 12.5%;
  }
}
