.Button,
.LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 48px;
  border-radius: var(--radius-lg);
  color: var(--color-neutral-700);
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.ButtonDefault {
  border-radius: 32px;
  background-color: #91eddb33;
  height: 60px;
  min-width: 262px;
  color: white;
}

.ButtonShimmer {
  background: linear-gradient(
    -45deg,
    #91eddb33 40%,
    #9b7575 50%,
    #91eddb33 60%
  );
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 2.6s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
    background-size: 400%;
  }
  50% {
    background-position: 0% 0;
    background-size: 600%;
  }

  100% {
    background-position: 0% 0;
  }
}

.ButtonIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.ButtonContent {
  position: relative;
}

.Button[disabled] .ButtonText {
  opacity: 0.5;
  transition: all 0.4s;
}

.ButtonRounded,
.LinkButtonRounded {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  /* background-color: var(--color-neutral-800) !important; */
  border-radius: 50%;
  color: rgb(255, 255, 0);

  background-color: rgba(83, 62, 0, 0.221);
}

.LoaderIconContainer {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

.LinkButton {
  /* background-color: transparent;
  color: var(--color-neutral-400);
  border: 1px solid var(--color-neutral-600); */
}

.LinkButtonArtistic {
  border: 1px dotted rgba(255, 255, 255, 0.417);
  background-color: rgba(212, 212, 212, 0.298);
  text-transform: lowercase;
  color: var(--color-white);
  height: 80px;
}
