.HUDLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.HUDBox {
  border: 4px solid #a9b698;
  border-radius: 12px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5b92a9;
  color: #ffc9a4;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.HUDBoxLabel {
  flex: 0 0 20px;
  font-size: 20px;
}

.HUDBoxContent {
  flex: 1;
  font-size: 40px;
}
